$blue:#18347a;
$lightblue:#a3c2e5;
$verylightblue:#dce9f6;
$border:1px;



/*création d'un tableau*/
table {
    border-spacing: 0px;
    margin: 0 auto;
    * {
        font-weight: 700;
    }
    /*la mise en page gererale des cases*/
    td {                               
        padding:5px 2px;
        text-align: center;
        width: 32px;
        height: 17px;
    }
    /* la mise en page des head de teableau
     et des horaires*/
    .tableHead, .tableSubHead {         
        background-color: $blue;        
        color: white;
        
    }
    .tableHead th{
        padding: 10px;
        text-align: left;
        border-bottom: $border solid white;
    }
     /*la mise en page des horaires*/
    .tableSubHead {                     
        td:not(:last-child) {
            border-right: $border solid white;
        }
        /*ajouter d'un h pour les horaires*/
        td:not(:empty) {                
            &::after{
                content:"h";
                font-weight: 500;
                font-size: 0.8rem;
            }
        }
    }
    /* la mise en page des colonnes et des lignes*/
    tr:not(.tableSubHead) {         
        td {
            padding-top: 0px;
            padding-bottom: 0px;
        }
        td:nth-child(even) {
            background-color: $verylightblue;
        }
        td:nth-child(odd) {
            background-color: $lightblue;
        }
        
    }
}

/*print*/

@media print {
    .tableHead, .tableSubHead {
        background-color: $blue !important;
        color: white !important;
        -webkit-print-color-adjust: exact; 
        print-color-adjust: exact; 
        
    }
    table {
        tr:not(.tableSubHead) {
            
            td:nth-child(even) {
                background-color: $verylightblue !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }
            td:nth-child(odd) {
                background-color: $lightblue !important;
                -webkit-print-color-adjust: exact;
                print-color-adjust: exact;
            }
            
        }
    }
}