$mainColor:#70007C;
$fontcolor:#212121;
$secondary:#393939; 
$smallRadius:0.15rem;
$margin:11px;
$lineWidth:6px;
$curlyLineWidth: 34px;

/*general*/
section > div {
    width: fit-content;
    margin: 0 auto;
}



/*le design des arrets*/


ul {
    /* tous les  arrets*/
    position: relative;
    &::after, &::before {
        content: "";
        position: absolute;
        left: 22px;
        top: 6px;
        width: $lineWidth;
    }
    /*la ligne violet*/
    &::after {
        height: 98%;
        background: $mainColor;
        z-index: -1;
        @media print {
            background-color: $mainColor !important;
            -webkit-print-color-adjust: exact; 
            print-color-adjust: exact;
       
        }
    }
    /*la ligne grise*/
    &::before {
        height: 31px;
        width: $lineWidth;
        background: $secondary;
        z-index: 1;
        @media print {
            background-color: $secondary !important;
            -webkit-print-color-adjust: exact; 
            print-color-adjust: exact;
       
        }
    }
    /*general style li*/
    li {                                        
        list-style: none;
        position:relative;
        margin-bottom: $margin;
        font-weight: 700;
        &::after {
            position: absolute;
            content: "";
            left:-15px;
            top:50%;
            transform: translate(-50%,-50%);
        }
        
        &:hover {
            cursor: pointer;
        }
        
    }
    /*les arretes de depart et terminus*/
    li.finalStop {                      
        text-transform: uppercase;
        border: 0.5px solid rgba(#212121,0.6);
        width: fit-content;
        padding:0px 3px 0px 0px;
        border-radius: $smallRadius;
        &::after {
            width: 23px;
            height: 10px;
            background-color: $secondary;
            position: absolute;
            @media print {
                background-color: $secondary !important;
                -webkit-print-color-adjust: exact; 
                print-color-adjust: exact;
           
            }
        }
        span {
            font-weight: bold;
            background-color: $mainColor;
            color: white;
            padding:1.5px 3px;
            margin-right:2px;
            height: 100%;
            border-top-left-radius: $smallRadius;
            border-bottom-left-radius: $smallRadius;
            @media print {
                background-color: $mainColor !important;
                -webkit-print-color-adjust: exact; 
                print-color-adjust: exact;
                height:100% !important;
           
            }
        }
    }
    li:not(.finalStop):not(.active) {
        &::after {
            width: 15px;
            height: 8px;
            border: 1px solid $fontcolor;
            background-color: white;
        }
    }
    /*arret current*/
    li.active {                         
        color: red;
        font-weight: bold;
        &::after {
            border-radius: 100%;
            width: $lineWidth * 2;
            height: $lineWidth * 2;
            background-color: $fontcolor;
            @media print {
                    background-color: $fontcolor !important;
                    -webkit-print-color-adjust: exact; 
                    print-color-adjust: exact;
               
            }
        }
    }

    
    & > ul::after {
        top: -2px;
    } 
    /*des lignes en curbe*/
    ul.subLine {                            
        position: relative;

        &::before {
            display: none; 
        }
        li:first-child::before {
            content:"";
            width: $curlyLineWidth;
            height: 10px;
            border-right: $lineWidth solid $mainColor;
            border-top: $lineWidth solid $mainColor;
            position: absolute;
            top: -8px;
            left: -72px;
            transform: translateX(50%);
            background-color: transparent;
            @media print {
                background-color: transparent !important;
                -webkit-print-color-adjust: exact; 
                print-color-adjust: exact;
                height: 10px !important;
            }
        }
         > ul.subLine li:last-child{
            &::before {
                content:"";
                width: $curlyLineWidth;
                height: 10px;
                border-bottom: $lineWidth solid $mainColor;
                border-right: $lineWidth solid $mainColor;
                position: absolute;
                top: 8px;
                left: -72px;
                transform: translateX(50%);
                background-color: transparent;
                @media print {
                    background-color: white !important;
                    -webkit-print-color-adjust: exact; 
                    print-color-adjust: exact;
                    height: 10px !important;
                }
            }
         }
    }
}




@media print {
   section.partTwo, header {
    display: none !important;
   } 
}